html {
    box-sizing: border-box;
    height:100%;
    width: 100%;
}

header {
    top: 0;
    background-color: #4A4C4E;
    color: #FFFFFF;
    width: 100%;
    max-width: 100%;
    margin: auto;
}

footer {
    bottom: 0;
    background-color: #FFFFFF;
    color: #4A4C4E;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 100%;
    color: #4A4C4E;
    background: #FFFFFF;
    text-align: center;
}
  
h1 {
    padding: 2%;
    margin: auto;
    margin-bottom: 5%;
    font-size: 200%;
    color: #FFFFFF;
    background-color: #4A4C4E;
    text-align: center;
    /*width: 100%;*/
}

h2 {
    background-color: #4A4C4E;
    color: #FFFFFF;
    border: 3px solid #4A4C4E;
    border-radius: 25px;
    font-size: 200%;
}

h3 {
    padding: 1%;
    margin: auto;
    font-size: 150%;
    text-decoration: underline;
    color: #4A4C4E;
}

h4 {
    color: #4A4C4E;
    font-size: 16px;
    opacity: 0.5;
    text-align: center;
}

h5 {
    font-size: 180%;
    color: #FFFFFF;
    border: 3px solid #4A4C4E;
    border-radius: 25px;
    background-color: #4A4C4E;
    width: 100%;
    max-width: 90%;
    padding: 2%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

p {
    font-size: 90%;
    line-height: 1.6;
}

.container1 {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    padding: 25px;
    border: 3px solid #4A4C4E;
    background-color: #fa9c1d;
    border-radius: 25px;    
}

.container2 {
    color: #4A4C4E;
    background-color: #FFFF;
    border: 3px solid #4A4C4E;
    border-radius: 25px;
    margin: auto;
    width: 90%;
    max-width: 900px;
    padding: 1%;
    text-align: center;
}

.container3 {
    color: #4A4C4E;
    background-color: #FFFFFF;
    border: 3px solid #4A4C4E;
    border-radius: 20px;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    text-align: center;
}

.container4 {
    border: 3px solid #4A4C4E;
    border-radius: 25px;
    background-color: #FFFFFF;
    color: #4A4C4E;
    width: 80%;
    max-width: 65%;
    padding: 1%;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

.container5 {
    border: 3px solid #4A4C4E;
    border-radius: 25px;
    background-color: #FFFFFF;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    width: 90%;
    max-width: 600px;
}

/*.container6 {
    border: 3px solid #4A4C4E;
    border-radius: 25px;
    background-color: #FFFFFF;
    width: 90%;
    max-width: 80%;
    padding: 1%;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}*/

.jumbotron {
    border: 3px solid #4A4C4E;
    border-radius: 25px;
    background-color: #FFFFFF;
    width: 100%;
    max-width: 90%;
    margin: auto;
    padding: 1%;
}

#empty-div {
    border: 3px solid #4A4C4E;
    border-radius: 25px;
    background-color: #fa9c1d;
    color: #4A4C4E;
    width: fit-content;
    max-width: 80%;
    padding: 1%;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
    height: 100%;
}

.buttonHolder {
    text-align: center;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    max-width: 90%;
}

.input-group {
    margin: auto;
    padding: 1%;
}

img {
    margin: auto;
    padding: 2%;
    width: 90%;
    max-width: 800px;
    height: auto;
}