body {
    padding: 0;
    margin: 0 auto;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #4A4C4E;
    background: #FFFFFF;
    text-align: center;
}

.header-1 {
    background-color: #4A4C4E;
    color: #FFFFFF;
    font-size: 48px;
}

.header-2 {
    background-color: #4A4C4E;
    color: #FFFFFF;
    border: 3px solid #4A4C4E;
    border-radius: 25px;
    font-size: 26px;
}
  
h1 {
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 25px;
    font-size: 42px;
    color: #FFFFFF;
    text-align: center;
}

h2 {
    padding: 1%;
    margin: 0 auto;
    font-size: 30px;
    text-decoration: underline;
    color: #4A4C4E;
}

.container1 {
    width: 700px;
    margin: 20px auto;
    padding: 25px;
    border: 3px solid #4A4C4E;
    background-color: #fa9c1d;
    border-radius: 25px;    
}

.container2 {
    color: #4A4C4E;
    background-color: #FFFF;
    border: 3px solid #4A4C4E;
    border-radius: 25px;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    text-align: center;
}

.container3 {
    color: #4A4C4E;
    background-color: #FFFFFF;
    border: 3px solid #4A4C4E;
    border-radius: 20px;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    text-align: center;
}

.container4 {
    border: 3px solid #4A4C4E;
    border-radius: 25px;
    background-color: #FFFFFF;
    color: #4A4C4E;
    width: 80%;
    padding: 5px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}

#empty-div {
    /*border: 3px solid #4A4C4E;*/
    border-radius: 25px;
    background-color: #FFFFFF;
    color: #4A4C4E;
    width: 150px;
    padding: 1px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}

.buttonHolder {
    text-align: center;
    margin: 0 auto;
    padding: 5px;
}

.jumbotron {
    border: 3px solid #4A4C4E;
    border-radius: 25px;
    background-color: #FFFFFF;
}

.display-2 {
    font-size: 40px;
    color: #4A4C4E;
    border: 3px solid #4A4C4E;
    border-radius: 25px;
    background-color: #fa9c1d;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.input-group {
    margin: 0 auto;
    padding: 1%;
}