body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #4A4C4E;
    background: #FFFFFF;
    text-align: center;
}

header {
    background: #4A4C4E;
}
  
h1 {
    padding: 20px;
    margin: 0;
    margin-bottom: 20px;
    font-size: 42px;
    color: #FFFFFF;
    text-align: center;
}

h2 {
    padding: 1%;
    margin: 0;
    font-size: 32px;
    text-decoration: underline;
    color: #4A4C4E;
}

h3 {
    margin: 0 auto;
    font-size: 40px;
    width: 600px;
    text-decoration: underline;
    color: #4A4C4E;
}

.container1 {
    width: 760px;
    margin: 20px auto;
    padding: 25px;
    border: 3px solid #4A4C4E;
    background-color: #fa9c1d;
    border-radius: 25px;    
}

.container2 {
    color: #4A4C4E;
    background-color: #FFFFFF;
    border: 3px solid #4A4C4E;
    border-radius: 25px;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.container3 {
    color: #4A4C4E;
    background-color: #FFFF;
    border: 3px solid #4A4C4E;
    border-radius: 25px;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.card-body {
    background-color: #4A4C4E;
    border: 3px solid #4A4C4E;
    border-radius: 25px;
}

#enter-names {
    margin: 0 auto;
    width: 80%;
    border-radius: 25px;
}

#choose-battle-mode {
    margin: 0 auto;
    width: 80%;
    border-radius: 25px;
}

#choose-trial-length {
    margin: 0 auto;
    width: 80%;
    border-radius: 25px;
}

.buttonHolder {
    text-align: center;
    margin: 0 auto;
    padding: 5px;
}

.jumbotron {
    border: 3px solid #4A4C4E;
    border-radius: 25px;
    background-color: #FFFFFF;
}

.display-4 {
    font-size: 40px;
    color: #4A4C4E;
    border: 3px solid #4A4C4E;
    border-radius: 25px;
    background-color: #fa9c1d;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}